$primary: #006699;

* {
  box-sizing: border-box;
}
*{
  font-family: arial;
}
h2 {
  color: $primary;
}
h1 {
  color: $primary;
  font-size: 40px;
}
.svg-icon{
  vertical-align: middle;
}
.container{
  max-width: 1024px;
  margin: 0 auto;
}
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.btn-group{
  button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 5px;
  }
  button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  button:hover {
    background-color: #3e8e41;
  }
} 


h2{
  font-size: 18px;
  color: #586069;
}
.author{
  font-weight: normal;
}
body{
  background-color: #fafbfc;
}
a{
  color: #0366d6;
  text-decoration: none;
  cursor: pointer;
}
.btn-primary {
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}
.user-repo-form{
  .title{
    text-align: center;
    width: 80%;
    transition: width 0.4s ease-in-out;
    text-transform: uppercase;
    &::before{
      content: 'G';
      color: #EA4335;

    }
    &::after{
      content: 'B';
      color: #EA4335;

    }
  }
  .githubform{
    input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
      transition: width 0.4s ease-in-out;
    }
    button {
      width: 20%;
    }
    button:hover {
        background: #0b7dda;
    }  
    &::after {
        content: "";
        clear: both;
        display: table;
    }
  }
  
  input[type=text]:focus {
    width: 80%;
  }
  input[type=text]:focus ~ button {
    background: #006699;
 }
}

.user-repositories-list{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .border-bottom{
    border-bottom: 1px #e1e4e8 solid;
    .title{
      display: inline-block;
    }
  }
  .select-repo{
    float: right;
    margin-top: 10px;
  }
}

.user-repos-issues{
  ul{
    list-style: none;
  }
  .border-bottom{
    border-bottom: 1px #e1e4e8 solid;
  }
  .issue-desc{
    font-size: 12px;
    color: #586069;
    font-weight: normal;
    margin-left: 20px;
  }
  .open.octicon{
    color: #28a745;
    fill: currentColor;
    vertical-align: middle;
  }
  .issue-title{
    font-weight: 600;
    font-size: 16px;
    color: #24292e;
  }
  .tabs{
    // min-width: 320px;
    // max-width: 800px;
    // padding: 50px;
    // margin: 0 auto;
    background: #fff;
    .tab-issue-icon{
      vertical-align: middle;
    }
    .tab-input{
      display: none;
    }
    .tab-content{
      display: none;
      padding: 20px 0 0;
      border-top: 1px solid #ddd;
    }
    label {
      display: inline-block;
      margin: 0 0 -1px;
      padding: 15px 25px;
      font-weight: 600;
      text-align: center;
      color: #bbb;
      border: 1px solid transparent;
    }
    
    label:before {
      font-family: fontawesome;
      font-weight: normal;
      margin-right: 10px;
    }
  
    // label[for*='1']:before { content: '\f1cb'; }
    // label[for*='2']:before { content: '\f17d'; }
    // label[for*='3']:before { content: '\f16b'; }
    // label[for*='4']:before { content: '\f1a9'; }
  
    label:hover {
      color: #888;
      cursor: pointer;
    }
  
    input:checked + label {
      color: #555;
      border: 1px solid #ddd;
      border-top: 2px solid orange;
      border-bottom: 1px solid #fff;
    }
  
    #tab1:checked ~ #content1, {
      display: block;
    }
  
    @media screen and (max-width: 650px) {
      label {
        font-size: 0;
      }
      label:before {
        margin: 0;
        font-size: 18px;
      }
    }
  
    @media screen and (max-width: 400px) {
      label {
        padding: 15px;
      }
    }
  }
  
}

.filter-wrapper{
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 15px 0;
  display: inline-block;
  width: 100%;
  .new-issue{
    float: right;
  }
  .dropbtn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid rgba(27,31,35,0.2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    &:hover{
      background-color: #e6ebf1;
      background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
      background-position: -.5em;
      border-color: rgba(27,31,35,0.35);
    }
    &::after{
      display: inline-block;
      width: 1px;
      height: 2px;
      vertical-align: -5px;
      content: "";
      border: 5px solid;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      margin-left: 4px;
    }
  }

  .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
    ul, ol {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    position: absolute;
    top: 34px;
    left: 0;
    display: none;
    width: 220px;
    margin-top: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 12px;
    color: #586069;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);

    .select-menu-item {
      display: block;
      padding: 12px 8px 12px 30px;
      overflow: hidden;
      color: inherit;
      cursor: pointer;
      border-bottom: 1px solid #eaecef;
      text-align: left;
      background-color: #fff;
      border-top: 0;
      border-right: 0;
      border-left: 0;
    }
  }

  .dropdown a:hover {background-color: #ddd;}

  .show {display: block;}
  
  input[type=text] {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
    width: 320px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  }
}